# Python Booleans

In [215]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [216]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [217]:
print(bool("Hello"))
print(bool(15))

True
True

In [218]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [219]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [220]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [221]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [222]:
def myFunction() :
  return True

print(myFunction())

True

In [223]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [224]:
x = 200
print(isinstance(x, int))

True

# Python Operators

In [225]:
print(10 + 5)

15

In [226]:
print((6 + 3) - (6 + 3))

0

In [227]:
print(100 + 5 * 3)

115

In [228]:
print(5 + 4 - 7 + 3)

5

# Python Lists

## Python Lists

In [229]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [230]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [231]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [232]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [233]:
list1 = ["abc", 34, True, 40, "male"]

In [234]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [235]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## Python - Access List Items

In [236]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [237]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [238]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [239]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [240]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [241]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [242]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Change List Items

In [243]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [244]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [245]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [246]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [247]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Add List Items

In [248]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [249]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [250]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [251]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Remove List Items

In [252]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [253]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [254]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [255]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [256]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [257]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [258]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Loop Lists

In [259]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [260]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [261]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [262]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

## List Comprehension

In [263]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [264]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [265]:
newlist = [x for x in fruits if x != "apple"]

In [266]:
newlist = [x for x in fruits]

In [267]:
newlist = [x for x in range(10)]

In [268]:
newlist = [x for x in range(10) if x < 5]

In [269]:
newlist = [x.upper() for x in fruits]

In [270]:
newlist = ['hello' for x in fruits]

In [271]:
newlist = [x if x != "banana" else "orange" for x in fruits]

## Sort Lists

In [272]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [273]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [274]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [275]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [276]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [277]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [278]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [279]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

## Copy Lists

In [280]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [281]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [282]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

## Join Lists

In [283]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [284]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [285]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Python Tuples

## Python Tuples

In [286]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [287]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [288]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [289]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [290]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [291]:
tuple1 = ("abc", 34, True, 40, "male")

In [292]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [293]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## Access Tuples

In [294]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [295]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [296]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [297]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [298]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [299]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [300]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## Update Tuples

In [301]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [302]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [303]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [304]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [305]:
thistuple = ("apple", "banana", "cherry")
del thistuple

## Unpack Tuples

In [306]:
fruits = ("apple", "banana", "cherry")

In [307]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [308]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [309]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

## Loop Tuples

In [310]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [311]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [312]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

## Join Tuples

In [313]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [314]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Python Sets

## Python Sets

In [315]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [316]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [317]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [318]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'cherry', 'apple'}

In [319]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [320]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [321]:
set1 = {"abc", 34, True, 40, "male"}

In [322]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [323]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

## Access Set Items

In [324]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [325]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [326]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

## Add Set Items

In [327]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

In [328]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'banana', 'cherry', 'apple', 'papaya', 'mango'}

In [329]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'kiwi', 'orange', 'banana', 'cherry', 'apple'}

## Remove Set Items

In [330]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [331]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [332]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [333]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [334]:
thisset = {"apple", "banana", "cherry"}
del thisset

## Loop Sets

In [335]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

## Join Sets

In [336]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [337]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [338]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'b', 'John', 'Elena', 'cherry', 'bananas', 'apple', 'c', 'a'}

In [339]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'b', 'John', 'Elena', 'cherry', 'bananas', 'apple', 'c', 'a'}

In [340]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

In [341]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [342]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [343]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [344]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [345]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [346]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [347]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [348]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [349]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'microsoft', 'cherry', 'banana'}

In [350]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'microsoft', 'cherry', 'banana'}

In [351]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'microsoft', 'banana', 'cherry'}

# Python Dictionaries

## Python Dictionaries

In [352]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [353]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [354]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [355]:
print(len(thisdict))

3

In [356]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [357]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [358]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

## Access Items

In [359]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [360]:
x = thisdict.get("model")

In [361]:
x = thisdict.keys()

In [362]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x)
car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [363]:
x = thisdict.values()

In [364]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x)

car["year"] = 2020

print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [365]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x)

car["color"] = "red"

print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [366]:
x = thisdict.items()

In [367]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x)

car["year"] = 2020

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [368]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x)
car["color"] = "red"

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [369]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

## Change Items

In [370]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [371]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

## Add Items

In [372]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [373]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

## Remove Items

In [374]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [375]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [376]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [377]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## Loop Dictionaries

In [378]:
for x in thisdict:
  print(x)

In [379]:
for x in thisdict:
  print(thisdict[x])

In [380]:
for x in thisdict.values():
  print(x)

In [381]:
for x in thisdict.keys():
  print(x)

In [382]:
for x, y in thisdict.items():
  print(x, y)

## Copy Dictionaries

In [383]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [384]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Nested Dictionaries

In [385]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [386]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [387]:
print(myfamily["child2"]["name"])

Tobias

In [388]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

# Python If ... Else

In [389]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [390]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [391]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [392]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [393]:
if a > b: print("a is greater than b")

a is greater than b

In [394]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [395]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [396]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [397]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [398]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [399]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [400]:
a = 33
b = 200

if b > a:
  pass

# Python While Loops

In [401]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [402]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [403]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [404]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops

In [405]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [406]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [407]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [408]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [409]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [410]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [411]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [412]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [413]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [414]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [415]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [416]:
for x in [0, 1, 2]:
  pass